@mixin positionCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin square ($width) {
  width: $width;
  height: $width;
}

@mixin font($name, $style, $weight, $src) {
  @font-face {
    font-family: "#{$name}";
    font-style: $style;
    font-weight: $weight;
    font-display: swap;

    @if $weight==100 {
      src: local("#{$src} Thin"),
      local("#{$src}-Thin"),
      url('../fonts/#{$src}-Thin.woff2') format('woff2'),
      url('../fonts/#{$src}-Thin.woff') format('woff');
    }

    @else if $weight==200 {
      src: local("#{$src} ExtraLight"),
      local("#{$src}-ExtraLight"),
      url('../fonts/#{$src}-ExtraLight.woff2') format('woff2'),
      url('../fonts/#{$src}-ExtraLight.woff') format('woff');
    }

    @else if $weight==300 {
      src: local("#{$src} Light"),
      local("#{$src}-Light"),
      url('../fonts/#{$src}-Light.woff2') format('woff2'),
      url('../fonts/#{$src}-Light.woff') format('woff');
    }

    @else if $weight==400 {
      src: local("#{$src} Regular"),
      local("#{$src}-Regular"),
      url('../fonts/#{$src}-Regular.woff2') format('woff2'),
      url('../fonts/#{$src}-Regular.woff') format('woff');
    }

    @else if $weight==500 {
      src: local("#{$src} Medium"),
      local("#{$src}-Medium"),
      url('../fonts/#{$src}-Medium.woff2') format('woff2'),
      url('../fonts/#{$src}-Medium.woff') format('woff');
    }

    @else if $weight==600 {
      src: local("#{$src} SemiBold"),
      local("#{$src}-SemiBold"),
      url('../fonts/#{$src}-SemiBold.woff2') format('woff2'),
      url('../fonts/#{$src}-SemiBold.woff') format('woff');
    }

    @else if $weight==700 {
      src: local("#{$src} Bold"),
      local("#{$src}-Bold"),
      url('../fonts/#{$src}-Bold.woff2') format('woff2'),
      url('../fonts/#{$src}-Bold.woff') format('woff');
    }

    @else if $weight==800 {
      src: local("#{$src} ExtraBold"),
      local("#{$src}-ExtraBold"),
      url('../fonts/#{$src}-ExtraBold.woff2') format('woff2'),
      url('../fonts/#{$src}-ExtraBold.woff') format('woff');
    }

    @else {
      src: local("#{$src} Black"),
      local("#{$src}-Black"),
      url('../fonts/#{$src}-Black.woff2') format('woff2'),
      url('../fonts/#{$src}-Black.woff') format('woff');
    }
  }
}
